<!DOCTYPE html>
<html>
  <head>
    <title>CidonMarketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li> <%= link_to "about", about_path %></li>
          <li><%= link_to "Products", products_path %></li>
          <li><%= link_to "Cart", cart_path %></li>
        </ul>
      </nav>
    <%= yield %>
  </body>
</html>
